# ***Functions In Python***

In [2]:
def even_odd(num):
  if num%2==0:
    print('Even')
  else:
    print('Odd')

In [3]:
even_odd(25)

Odd

In [4]:
def hello():
  print('Hello world')

print(hello())

Hello world
None

In [5]:
var=hello()

print(var)

Hello world
None

In [7]:
def hello_world():
  return 'Hello world'

print(hello_world())

Hello world

In [8]:
def add_num(num1,num2):
  return num1+num2

In [9]:
var= add_num(20,52)
print(var)

72

In [10]:
# positional argument
# keyword argument

def key(name, age=26):
  print('my name is {} and my age is {}'.format(name,age))

In [11]:
var= key('ben')
print(var)

my name is ben and my age is 26
None

In [13]:
var= key('ben',25)
print(var)

my name is ben and my age is 25
None

In [14]:
def new(*args,**kwargs):
  print(args)
  print(kwargs)

In [15]:
new('Gourav','Solanki',age=25,Dob=1997)

('Gourav', 'Solanki')
{'age': 25, 'Dob': 1997}

In [17]:
st=('Gourav', 'Solanki')
nd={'age': 25, 'Dob': 1997}

In [18]:
new(st,nd)

(('Gourav', 'Solanki'), {'age': 25, 'Dob': 1997})
{}

In [19]:
new(*st,**nd)

('Gourav', 'Solanki')
{'age': 25, 'Dob': 1997}

In [31]:
lst=[1,2,3,4,5,6,7,8,9]

In [42]:
def evenoddsum(lst):
  even=0
  odd=0
  for j in lst:
    if j%2==0:
      even=even+j
    else:
      odd=odd+j
  return even,odd

In [43]:
evenoddsum(lst)

(20, 25)

# ***Map Function IN Python***

In [44]:
def even_odd(num):
  if num%2==0:
    print('Even')
  else:
    print('Odd')

In [46]:
lis=[1,2,3,11,12,13,111,121,122,1232,10]

In [47]:
list(map(even_odd,lis))

Odd
Even
Odd
Odd
Even
Odd
Odd
Odd
Even
Even
Even

[None, None, None, None, None, None, None, None, None, None, None]

# **Lambda Function**
> Anonymous Function

> A function with no name

In [48]:
addition= lambda a,b:a+b

In [49]:
addition(4,12)

16

In [50]:
evenodd_check= lambda a:a%2==0

In [52]:
evenodd_check(5)

False

Lambda Function can't have multiple conditions

# **Filter Function**

In [53]:
def even(num):
  if num%2==0:
    return True

In [54]:
lis=[1,2,3,11,12,13,111,121,122,1232,10]

In [55]:
list(filter(even,lis))

[2, 12, 122, 1232, 10]

In [56]:
list(filter(lambda a:a%2==0,lis))

[2, 12, 122, 1232, 10]

In [57]:
list(filter(lambda a:a%2!=0,lis))

[1, 3, 11, 13, 111, 121]